<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

    <h1>Speciality Pizza: Pepper and Pepperoni</h1>

<p><b>Name:</b>Pepper and Pepperoni</p>

<p><b>Price:</b>$15.00</p>

<a href="/">Back to Homepage</a>
    
</body>
</html>
