<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Leave a Review</h1>

<form action="/thanks" method="POST">
    Your Name<input name="name" type="text"/> 
    <br>
    Comment 
    <br>
    <input type="text" name="comment" class="bgInput"/>
    <br>
    Rating 
    <br>
        <input type="radio" name="rating" value="5"/>5(best) -
        <input type="radio" name="rating" value="4"/>4 -
        <input type="radio" name="rating" value="3"/>3 -
        <input type="radio" name="rating" value="2"/>2 -
        <input type="radio" name="rating" value="1"/>1(worst)     
    <br>
    {{!-- <input type="checkbox" name="hungry"> --}}
    <input type="submit"> <a href="/">Never Mind</a>
</form>
</body>
</html>




