body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: 40vh;
    width: 60vw;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0px;
}

li {
    margin: 2px;
}

a {
    text-decoration: none;
    color:rgb(87, 58, 117);
    margin: 0px;
}

a:hover {
    color: bisque;
}

h1 {
    color: rgb(240, 180, 102);
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin: 10px;
}

h2 {
    color:rgb(152, 140, 196);
    font-size: 1.5em;
    margin: 10px;
}

p{
    color:rgb(152, 140, 196);
}

form{
    color:rgb(152, 140, 196);
}

input{
    margin: 10px;
}

.bgInput {
    padding-bottom: 40%;
    padding-right: 40%;
}

#linksConfirmation {
    display: flex;
    font-size: 1.25em;
}

@media only screen and (min-width:600px){
    h1{
        font-size: 3em;
    }

    img{
        height: 50vh;
        width: 70vw;
    }
}